{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="论文润色助手 - 提供摘要润色, 引言润色, 试验方法润色, 结论润色等功能">
    <meta name="keywords" content="paper refinement, sci refinement, scientific writing, chatgpt, gemini, deepseek, aichat, ai">
    <meta name="google-adsense-account" content="ca-pub-9735762483826244">
    <title>论文润色助手</title>
    
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@4.0.18/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css">
</head>
<body>
    <div id="header">
        论文润色助手
    </div>

    <div id="layoutContainer">
        
        
        <div id="chatSection">
            <div id="chatContainer">
                <div id="chatMessages"></div>
            </div>
            
            <div id="commandButtons"> <!--动态创建--></div>
            
            <input type="hidden" id="chat_token" value="{{ token }}">

            <div class="input-area">
                <textarea id="userInput" placeholder="在这里输入内容..."></textarea>
                <div id="hint" class="hint-container"></div>
                <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
                    <button id="sendButton" >发送</button>
                    <button class="scroll-button left" id="scrollTopButton">↑ Top</button>
                    <button class="scroll-button right" id="scrollBottomButton">↓ Bottom</button>
                </div>
            </div>
        </div>
    </div>

    {% csrf_token %}
    
    <script>
        
    </script>
    <script src="{% static 'js/chat.js' %}" type="module"></script>
    <script src="{% static 'js/adblock-detector.js' %}"></script>
</body>
</html> 